@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #4070f4;*/ 
    background-image: url("../img/ug.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo, .form-label {
    font-weight: 900;
}

a {
    text-decoration: none;
}


/***********************VALIDACION LOGIN**************************************/
.form-box .error-text {
    color: #ca3434;
    visibility: hidden;
  } 

  .form-box.form-error input {
    border-bottom: 2px solid red;
  }

  .form-box.form-error .error-text {
    visibility: visible;
  }
  
  .form-box.form-success input {
    border-bottom: 2px solid green
  }




  @media(max-width: 1200px){
    .card {
        overflow-y: scroll;
        height: 80vh;
    }
}